<%- include('../partials/header') %>


<div  style="margin: auto auto;">
    <form action="/index/<%= main.id %>/comments" method="POST" class="ui form" style="text-align: left; width: 100%;" >
        
        <h1 style="margin : 3% auto; text-align: center;">Add New Comment to <%= main.title %></h1>
        
        <div style="width: 40%; margin: 0 auto;"  >
            
        
            <div class="field">
            
                <input type="text" placeholder="text" name="content"  >
            
            </div>
        <div class="field">
        
                <button style="width: 100%;" class="ui primary  button" style="margin-bottom: 3%;">Submit</button>

        </div>
        </div>
            
        
        
    </form>

</div>





<%- include('../partials/footer') %>