<%- include('partials/header') %>
<h1>imake ar2a</h1>

<a href="/register"> <button>Sign Up</button> </a>
<a href="/login"> <button>Login</button> </a>
<a href="/logout"> <button>Logout</button> </a>
<a href="/secret"> <button>secret</button> </a>

<%- include('partials/footer') %>