.grid{
    border: 2px solid black;

}
p{
    width: 50rem;
    word-wrap:break-word;
    
}


i.icon{
    font-size: 2rem;
}

body.darkmode--activated > .main   {
    color: white;
}

body.darkmode--activated > .reader   {
    color: black;
}

.disabled{
    pointer-events: none;
    cursor: wait;
}
